﻿@model List<AcunMedyaAkademiPortfolio1.Models.TblHobby>


    <div class="col-md-12">
            <div class="my-interest d-lg-flex w-100">
                <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-listening"></span>
                    </div>
                    <div class="text">Müzik</div>
                </div>
                <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-suitcases"></span>
                    </div>
                    <div class="text">Seyahat</div>
                </div>
                <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-video-player"></span>
                    </div>
                    <div class="text">Film</div>
                </div>
                <div class="interest-wrap d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-football"></span>
                    </div>
                    <div class="text">Spor</div>
                </div>
            </div>

        </div>
    